*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font:inherit;
    transition:0.3s all ease-in-out;
    }
    button,input,a,textarea{

        font-size: 12px !important;
        text-align: center;
        outline: none;    }

p{
    margin-bottom: 0 !important;
}
.container{
    display: flex;
    flex-direction: row;
    /* width:80% ; */
    /* background-color: red; */
    /* height: 100px; */
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1)
}

 
.heading {
    margin: 22px auto 12px;
    background-image: url("https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png");
    background-position: -98px 0;
    height: 51px;
    width: 177px;
    overflow: hidden;
  }
.box1 >ul li{
    list-style: none;
    display: inline;

}

#NewPost{
    border: 2px solid black; border-radius: 3px;padding: 1px;
}
.box1 ul li a img{
    width: 20px;
    height: 20px;
    margin: 0 10px; 
}
.box1 ul li img:hover{
    transform:rotate(360deg);

transition: 0.3S;

}
.profile{
    border-radius: 50%;
}

.box1 ul li a  .profile:hover{
    transform:rotateY(360deg);
    transition: 0.3S;
}
.line{
    width: 100%;
    margin-top: 5px;
    height: 2px;

}
input,
button
{
    border-radius: 2px;
    font-size: 12px !important;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    padding: 7px 10px;
    /* margin: 5px 0; */
    /* width: 130%; */
    text-align: center;
    outline: none;
}
.nav-link{
    display: inline !important;
    margin-left:-15px ;
}
.dropdown-toggle::after {
display: none !important;
}

@media (max-width: 1000px)  {
    .container{
        flex-direction: row !important;
    }
}
@media (max-width: 768px)  
{
#search{
    display: none;
}
}
                                        /* endof navbar */
.container1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    
}

.card-body{
    display: flex;
    flex-direction: column;
    height: 53.5vh;
    justify-content: space-between;
    /* width: 19rem;     */
}
#username{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-decoration: none;
}
.card-title{
    text-decoration: none;
    color:rgb(38, 38, 38);
}
.par-box2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.post-edit{
    font-size: 2rem;
}
.box2 ul li{
    list-style: none;

    }
    .box2 ul li a{
        position: relative;
        top: -10px;
    }
    #navbarDropdown{
        font-size: 1.5rem !important;
    color:rgb(38, 38, 38);

    }
    .par-box1{
        display: flex;
        flex-direction: column;
    }

    .comment-wrapper{

        
        width: 100%;
        height: 45px;

    border: none !important;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .comment-wrapper .icon{
    /* padding-right: 5px; */
    height: 31px;
    width: 20px;
    margin-left: 3px;
    margin-top: 5px;
}
    
    
    .comment-box{
        width: 80%; 
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        background-color: white;
        text-align: start;
        
    }
    
    .comment-btn{
        width: 70px;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        text-transform: capitalize;
        font-size: 16px;
        color: rgb(0, 162, 255);
        opacity: 0.5;
    }
    .comment-btn:hover{
        color: rgb(0, 162, 255);
        opacity: 1;
    }
    @media (max-width: 768px)  
    {
    .container1{
        top: 150px;
    }
    }